%div{"data-role" => "page", "data-theme" => "a"}
  %div{"data-position" => "inline", "data-role" => "header"}
    %h1 It Worked!
  %div{"data-role" => "content", "data-theme" => "a"}
    %p
      This is content color swatch "A" and a preview of a
      = succeed "." do
        %a.ui-link{:href => "#"} link
    %label{:for => "slider1"} Input slider:
    %input#slider1{"data-theme" => "a", :max => "100", :min => "0", :name => "slider1", :type => "range", :value => "50"}/
    %fieldset{"data-role" => "fieldcontain", "data-type" => "horizontal"}
      %legend Cache settings:
      %input#radio-choice-a1{:checked => "checked", :name => "radio-choice-a1", :type => "radio", :value => "on"}/
      %label{:for => "radio-choice-a1"} On
      %input#radio-choice-b1{:name => "radio-choice-a1", :type => "radio", :value => "off"}/
      %label{:for => "radio-choice-b1"} Off
